body{
    padding: 0;
    margin: 0;
    background: #fff;
}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: auto;
    transform: translate(-50%,-50%);
    transition: .5s;
}
h2{
    text-align:center;
    font-family: arial;
    font-weight: bolder;
}
.accordion {
    text-align: left;
    outline: none;
    padding: 20px;
    width: 100%;
    border: none;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #ccc;
    background: #1a1a1a;
    box-shadow: 0px 0px 20px #262626;
    border: 2px solid #ccc;
    transition: .4s;
}
#box{
    padding: 5px 20px;
    background: rgba(255, 255, 255, 0.1);
    color: #262626;
    font-family: Arial;
    overflow: hidden;
    display: none;
}
.active{
    background: #ccc;
    color: #262626;
    transition: .5s;
}